@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-main: 23 23 23;
    --color-bg-main: 242 241 236;
    --color-bg-muted: 234 233 225;
    --color-border-main: 23 23 23;
  }

  html.dark {
    --color-text-main: 60 233 181;
    --color-bg-main: 58 54 60;
    --color-bg-muted: 187 181 183;
    --color-border-main: 71 121 118;
  }
}